<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lists</title>
</head>
<body>
    <h1>Details</h1>
    {% if name %}
        <h3> Name is : {{name}} </h3>
    {% endif %}

    {% if age %}
        <h3> Age is : {{age}} </h3>
    {% endif %}

    {% if study %}
        <h3> Study is : {{study}} </h3>
    {% endif %}
    <hr>

    <h1>Courses</h1>
    <ol>
        {% for course in courses %}
        <li> <h3> {{course}} </h3></li>
        {% endfor %}
    </ol>

</body>
</html>